:root {
    --textcol: Black;
    --bg: Beige;
    --altbg:#eeeec3;
    --link: DarkCyan;
    --linkalt: DarkKhaki;
}

li img{
	height: 1.25em;
}
h1 img{
	height: 1em;
}

h2 img{
	height: 1em;
}

h3 img{
	height: 1em;
}


html {
	padding-bottom: 100px;
	color: var(--textcol);
	font-family: sans-serif;
	background: var(--bg);
}

a {
	color: var(--link);
	text-decoration: none;
}

a:hover {
    color: var(--linkalt);
}

body {
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	overflow: none;
}

.mainpanel {
	float: left;
	max-width: 500px;
	padding: 4px;
	padding-right: 30px;
	padding-left: 30px;
}

.mainpanel li {
    line-height:20px;
}

.sidepanel {
	float: right;
	max-width: 400px;
	background-color: var(--altbg);
	padding:2px;
	padding-right: 40px;
	border-radius: 10px 10px 10px 10px;
}

.sidepanel a {
    color: var(--link);
}

.sidepanel a:hover {
    color: var(--linkalt);
}

.sidepanel ul li {
    font-size:20px;
    margin:0 0 15px 0;
}

.sidepanel ul li ul li {
    font-size:18px;
    margin: 0px;
    list-style: none;
}

